@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Department of Defense Auto-Route</h1>
    <p>Automate your correspondence</p>
</div>

<div>
    @Html.ActionLink("List of Users", "Index", "Users")<br />
    @Html.ActionLink("List of Requests", "Index", "Requests")
</div>
